<mat-toolbar color="primary">
  <div class="menu-button-container" fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Pool Controls</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngFor="let item of navItems">
        <a routerLink="{{ item.link }}">{{ item.title }}</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
