<mat-card class="temp-graph">
  <mat-card-content>
    <iframe src="http://10.0.1.203:3000/d-solo/fh9xw_YGz/pool?orgId=1&theme=light&panelId=3" id="temp-graph" width="100%" height="250" frameborder="0"></iframe>
    <button class="refresh-button" type="button" (click)="refreshGraph()"><mat-icon>refresh</mat-icon></button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="status">
  <mat-card-content>
    <button class="refresh-button refresh-button-status" type="button" (click)="refreshStatus()"><mat-icon>refresh</mat-icon></button>
    <p class="status-line">
      <strong>Status: </strong> <span *ngIf="status.isRunning">Running</span> <span *ngIf="!status.isRunning">Not Running</span>
      <span  *ngIf="status.isRunning">
        &bull; <strong>RPM: </strong> <span>{{ status.rpm }}</span> &bull;
        <strong>Watts: </strong> <span>{{ status.watts }}</span>
      </span>
    </p>
  </mat-card-content>
</mat-card>
